- title = _("Policies")
- page_title title
- breadcrumb_title title
- @content_wrapper_class = 'js-security-policies-container-wrapper'
- disable_security_policy_project = !can_update_security_orchestration_policy_project?(project)
- disable_scan_policy_update = !can_modify_security_policy?(project)

#js-security-policies-list{ data: { assigned_policy_project: assigned_policy_project(project).to_json,
  disable_security_policy_project: disable_security_policy_project.to_s,
  disable_scan_policy_update: disable_scan_policy_update.to_s,
  documentation_path: help_page_path('user/application_security/policies/index.md'),
  empty_filter_svg_path: image_path('illustrations/empty-state/empty-search-md.svg'),
  empty_list_svg_path: image_path('illustrations/empty-state/empty-secure-add-md.svg'),
  namespace_path: project.full_path,
  new_policy_path: new_project_security_policy_path(project) } }
